<div class="container shadow-sm">
  <div class="row flex-row align-items-center justify-content-center rounded">
    <div class="col-12 col-md-5 text-center">
      <div class="fs-1 fs-sm-5">Best Recommendations</div>
      <div class="d-flex flex-row justify-content-center py-3">
        <div class="px-3 small"><img src="/images/riding_jacket.webp" width="70" /><br />Riding Jackets</div>
        <div class="px-3 small"><img src="/images/riding_pant.webp" width="70" /><br />Riding Pants</div>
        <div class="px-3 small"><img src="/images/helmet.webp" width="70" /><br />Helmets</div>
      </div>
      <div class="d-flex flex-row justify-content-center">
        <div class="px-3 small"><img src="/images/riding_shoes.webp" width="70" /><br />Riding Shoes</div>
        <div class="px-3 small"><img src="/images/riding_gloves.webp" width="70" /><br />Riding Gloves</div>
        <div class="px-3 small"><img src="/images/riding_armors.webp" width="70" /><br />Armors</div>
      </div>
    </div>
    <div class="col-12 col-md-4 text-center">
      <img src="/images/biker_image_front_1.webp" alt="Rider Garb" width="150" />
    </div>
  </div>
</div>
